:root {
    /* Colours */
    --color-: #fff;
    --color-nav: #576cbc;
    --color-secondary: #10306c;
    --color-dark: #094f0e;
    --color-bg: #04152d;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }
  