@import "../../../vars.css";

.aboutSection {
    height: auto;
    padding: 100px 50px;
    display: flex;
    flex-direction: row; /* Added to ensure flex direction is row for larger screens */
    background-color: white;
    border-bottom: 3px solid rgb(159, 25, 157);
    align-items: center; /* Center align items vertically */
    justify-content: space-between; /* Space between the text and image */
}

.aboutText {
    
    margin-top: 30px;
    height: auto;
    width: 700px;
    background-color: rgb(244, 237, 237);
    padding: 30px;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
    font-size: 44px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
}

span {
    font-weight: bold;
    color: rgb(126, 9, 65);
}

.aboutImage {
    height: 400px;
    width: 500px;
    background-size: cover;
    background-image: url("/IMAGE.png");
}

@media (max-width: 600px) {
    .aboutSection {
        padding: 30px 30px;
        flex-direction: column; /* Column direction for mobile screens */
        align-items: center; /* Center align items horizontally */
    }

    .aboutText {
        width: 100%;
        text-align: center; /* Center align text for mobile screens */
        margin-bottom: 20px; /* Add some spacing below text */
    }

    h1 {
        text-align: center;
        font-size: 26px;
        font-weight: 900;
    }

    .aboutImage {
        height: 200px;
        width: 200px;
        margin-left: 0; /* Reset margin for mobile screens */
        margin-bottom: 20px; /* Add some spacing below image */
    }
}
