.maincontainer{
    background-color: white;
    padding: 50px 100px;
    margin-bottom: -20px;
    text-align: center;
    height: 100vh;
    color: rgb(126, 9, 65);
    }
    .card{
        padding: 50px;
        background-color: #f7f7f7;
        text-align: left;
        height: 500px;
        width: full;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
    
    }
    .select{
        font-size: 18px;
        padding: 10px;
        margin: 0 30px;
        width: 300px;
    }
    
    .form{
        display: flex;
        flex-direction: column;
    }
    .service{
        margin-bottom: 40px;
    }
    .submit{
        font-size: 24px;
        width: 150px;
        margin-top:100px ;
    }
    