/* Footer.module.css */
.footer {
    background-color: #D14D72;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .logoContainer {
    margin-bottom: 10px;
  }
  
  .logo {
    height: 50px;
  }
  
  .navList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .navList li {
    margin: 0 15px;
  }
  
  .navList a {
    color: white;
    text-decoration: none;
  }
  
  .navList a:hover {
    text-decoration: underline;
  }
  
  .active {
    font-weight: bold;
  }
  
  .copyright {
    margin-top: 10px;
    font-size: 14px;
  }
  